
*body {
    font-family:Arial;
}

header {
background-color:orchid;
padding: 30px; text-align:center;
font-size:20px;
color: white;
}
nav{
float:left;
width:47%;
height:300px;
background: peru;
padding: 20px;
}
article{
float:left;
padding: 20px;
width: 47%;
height:300px;
background-color:rebeccapurple;
height:300px;
color: white;
}
footer {
background-color:yellow;
padding:50px;
text-align:center;
color: white;
}